<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preco Médio</title>
</head>
<body>
    <h2>Resultado do Calculo do Preço Médio:</h2>

    <p><strong>Operação Escolhida: </strong> {{ operacao }}</p>
    <p><strong>Quantidade: </strong> {{ quantidade }} unidades</p>
    <p><strong>Preço Unitario: </strong> R${{ preco_unitario }}</p>
    <p><strong>VAlor Bruto: </strong> R${{ valor_bruto }}</p>
    <p><strong>VAlor Liquido: </strong> R${{ valor_liquido }}</p>
</body>
</html>