<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REgistro</title>
</head>
<body>
    <h1>Formulario de Novo Estudante</h1>
    <h2>Preencha as informações para cadastro </h2>
    
    <form action="{{ url_for('registrar_aluno') }}" method="post">
        <div>
			<label>Nome:</label>
			<input type="text" name="nome" minlength="5" required>
		</div>

		<br>

		<div>
			<label>CPF:</label>
			<input type="number" name="cpf" required>
		</div>

		<br>

		<div>
			<label>Data de Nascimento:</label>
			<input type="date" name="data" required>
		</div>

		<br>

		<div>
			<label>E-mail:</label>
			<input type="email" name="e_mail" required>
		</div>

		<br>

		<div>
			<label>Curso:</label>
			<select name="curso" required>
				<option value="">-- Selecione seu curso de interesse --</option>
				<option value="desenvolvimento_de_sistemas">Desenvolvimento de Sistemas</option>
				<option value="rede_de_computadores">Redes de Computadores</option>
				<option value="informatica">Informática</option>
			</select>
		</div>

		<br>

		<button type="submit">Concluir Cadastro</button>
	</form>
</body>
</html>